@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fbff7d2b;
    font-size: 1.1rem;
    font-family: "Madimi One", sans-serif;
}

/* --------------------------- Color Variables --------------------------- */
  :root {
    --theme-color1: #007524;
    --theme-color2: #fbff7d;
  }

/* --------------------------- Header --------------------------- */

  header {
    background-color: var(--theme-color1);
  }

  nav a {
    color: var(--theme-color2) !important;
    font-size: 1.4rem;
    text-shadow: 2px 2px 2px black;
  }

  nav > a {
    line-height: 58px;
    font-size: 1.7rem;
}

   .nav-link img {
    max-width: 60px;
    height: auto;
}

  .navbar-toggler {
    font-size: 1.1rem;
    background-color: #faf9f6;
  }

/* --------------------------- Main Section --------------------------- */

  .float-header {
    background-color: var(--theme-color1);
    color: var(--theme-color2);
    text-shadow: 4px 4px 3px black;
    box-shadow: inset 0px 0px 0px 4px var(--theme-color2), 0px 0px 0px 4px var(--theme-color1);
    border-radius: 5px;
    margin-top: -3.3rem;
    margin-bottom: 1.5rem;
    padding: 8px;
  }

  .card {
    background-color: #faf9f6;
    margin: 5.3rem auto 3.5rem;
    box-shadow: var(--theme-color1) 0px 0px 2px 6px;
  }

  .card-body p {
    font-family: sans-serif;
    font-weight: 600;
  }

  label {
    font-size: 1.25rem;
  }

  input {
    text-align: center;
    border: 1px solid #6f6f6f;
    background-color: #ffffff;
    padding: 5px;
}

  .btn {
    font-size: 1.25rem;
    color: var(--theme-color2);
    background-color: var(--theme-color1);
    text-shadow: 2px 2px 2px black;
  }

  /* --------------------------- Media Queries For Mobile --------------------------- */

  @media screen and (max-width: 500px) {

    .nav-link img {
      margin-left: -20px;
      max-width: 50px;
  }
}
