@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fbff7d2b;
    font-size: 1.1rem;
    font-family: "Madimi One", sans-serif;
}

/* --------------------------- Color Variables --------------------------- */
  :root {
    --theme-color1: #007524;
    --theme-color2: #fbff7d;
  }

/* --------------------------- Header --------------------------- */

  header {
    background-color: var(--theme-color1);
  }

  nav a {
    color: var(--theme-color2) !important;
    font-size: 1.4rem;
    text-shadow: 2px 2px 2px black;
    transition: all 0.15s;
  }

  nav a:hover:not(.active) {
    scale: 1.1;
    color: hsl(62 100% 60% / 1) !important;
  }

  nav > a {
    line-height: 58px;
    font-size: 1.7rem;
}

   .nav-link img {
    max-width: 60px;
    height: auto;
}

  .active {
    cursor: default;
  }

  .navbar-toggler {
    font-size: 1.1rem;
    background-color: #faf9f6;
  }

/* --------------------------- Welcome Pop Up --------------------------- */

  .float-header {
    background-color: var(--theme-color1);
    color: var(--theme-color2);
    text-shadow: 4px 4px 3px black;
    box-shadow: inset 0px 0px 0px 2.5px var(--theme-color2), 0px 0px 0px 4px var(--theme-color1);
    border-radius: 5px;
    margin-top: -3.3rem;
    margin-bottom: 1.5rem;
    padding: 8px;
  }

  .card {
    background-color: #faf9f6;
    margin: 4.5rem auto 1rem;
    padding-bottom: 20px;
    box-shadow: var(--theme-color1) 0px 0px 2px 6px;
  }

  .card-body p {
    font-family: sans-serif;
    font-weight: 600;
  }

  form {
    position: relative;
  }

  label {
    font-size: 1.25rem;
  }

  input {
    text-align: center;
    border: 1px solid #6f6f6f;
    background-color: #ffffff;
    padding: 5px;
    margin-bottom: 16px;
    border: 2px solid rgb(0, 0, 0);
  }

  label.attention::before {
    content: '* Please enter your name';
    font-size: 0.88rem;
    font-weight: 100;
    position: absolute;
    width: 200px;
    left: 50%;
    top: 58.5%;
    transform: translate(-50%, -50%);
    color: rgb(255, 0, 0);
  }

  .btn {
    font-size: 1.25rem;
    color: var(--theme-color2) !important;
    background-color: var(--theme-color1);
    text-shadow: 2px 2px 2px black;
    transition: all 0.15s;
    box-shadow: 0px 4px 6px 1px #0000004a;
  }

  .btn:hover:not([disabled]) {
    scale: 1.1;
    color: hsl(62 100% 60% / 1);
    background-color: hsl(138 100% 27% / 1);
  }

  /* --------------------------- Question Container --------------------------- */

  #image-container {
    width: 100%;
    max-width: 500px;
    height: 300px;
    margin: 0 auto;
    background-image: url('');
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: var(--theme-color1) 0px 0px 1px 4px;
  }

  #out-of-ten {
    font-size: 1.6rem;
    letter-spacing: 3px;
  }

  .answer-btn {
    width: 12rem;
    margin: 0.4rem;
  }

  .answer-btn:disabled {
    opacity: 0.85;
  }

  .correct {
    background-color:rgb(71 239 46);
    color: black !important;
    text-shadow: none;
  }

  .incorrect {
    background-color: rgb(255, 0, 0);
  }

  #next-btn {
    width: 130px !important;
    width: 90px;
    margin: 20px auto 0;
  }

  /* --------------------------- Results Container --------------------------- */

  #result {
    font-size: 2rem;
    margin-top: 32px;
  }

  #result-message {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 34px 0;
  }

  /* --------------------------- Media Queries For Mobile --------------------------- */

  @media screen and (max-width: 470px) {

    .nav-link img {
      margin-left: -20px;
      max-width: 50px;
  }
}
